<% include partials/head %>

        <!-- Main Content -->
        <% if (edit) { %>
            <h2>Update Listing</h2>
        <% } else { %>
            <h2>New Listing</h2>
        <% } %>
        <form method="post">
            <input type="text" name="title" placeholder="title"
                value="<%= admin ? listing.title : '' %>"><br>
            <input type="text" name="price" placeholder="price"
                value="<%= admin ? listing.price : '' %>"><br>
            <input type="text" name="beds" placeholder="beds"
                value="<%= admin ? listing.beds : '' %>"><br>
            <input type="text" name="baths" placeholder="baths"
                value="<%= admin ? listing.baths : '' %>"><br>
            <input type="text" name="squareFeet" placeholder="squareFeet"
                value="<%= admin ? listing.squareFeet : '' %>"><br>
            <input type="text" name="garages" placeholder="garages"
                value="<%= admin ? listing.garages : '' %>"><br>
            <input type="text" name="expiration" placeholder="expiration"
                value="<%= admin ? listing.expiration : '' %>"><br>
            <input type="text" name="feature" placeholder="feature"
                value="<%= admin ? listing.feature : '' %>"><br>
            <input type="text" name="address" placeholder="address"
                value="<%= admin ? listing.address : '' %>"><br>
            <input type="submit" value="<%= !admin? 'update' : 'add' %> Listing"/>
        </form>
        <!-- End Main Content -->

<% include partials/footer %>
