<% include partials/head %>

        <!-- Main Content -->
        <div class="view-single-listing">
            single listing page, w/ the following data:<br><br>
            id: <%= listing._id %><br>
            title: <%= listing.title %><br>
            price: <%= listing.price %><br>
            beds: <%= listing.beds %><br>
            baths: <%= listing.baths %><br>
            square feet: <%= listing.squareFeet %><br>
            garages: <%= listing.garages %><br>
            expiration: <%= listing.expiration %><br>
            feature: <%= listing.feature %><br>
            address: <%= listing.address %><br>
        </div>
        <!-- End Main Content -->

    <% include partials/footer %>
